{
    "Language": "English",
    "FullScreenIndex": 0,
    "ResolutionIndex": 0,
    "QualityIndex": 2,
    "Gamma": 1.0,
    "UiVolume": 1.0,
    "MusicVolume": 1.0,
    "SfxVolume": 1.0,
    "MouseSensitivity": 1.0,
    "InvertXAxis": false,
    "InvertYAxis": false,
    "WalkKey": "WASD",
    "AttackKey": "RMB"
}